version: "3"
volumes:
  docker:

services:
  # engine:
  #   build: ./engine-testing
  #   restart: always
  #   ports:
  #     - 8228:8228
  #   privileged: true

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
  next:
    build: .
    restart: always
    ports:
      - 3000:3000
    volumes:
      - .:/app
    environment:
      MONGODB_ADMINUSERNAME: root
      MONGODB_ADMINPASSWORD: example
      MONGODB_URL: mongodb://root:example@mongo:27017/test?authSource=admin
      MONGODB_URI: mongodb://root:example@mongo:27017/
      #NEXTAUTH_URL: http://184.64.104.125:3000
    depends_on:
      - mongo
  
