.piece {
    height: 12.5%;
    width: 12.5%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
}

.container {
    position: relative;
    width: 60vw;
    height: 60vw;
}

.labels {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.potentialMoves {
    position: absolute;
    top: 0;

    /* height and width must be equal, and (margin * 2) + width MUST equal 100 for it to be centered*/
    height: 30%;
    width: 30%;
    margin: 35%;
}